<div class="main">
  <div class="container">
    <div class="course">
      
      
      <div class="class">
        <h3>Course Name : <%= @course.name %></h3>
        <p>Id: <%= @course.id %></p>
        <p>Description: <%= @course.description %></p>
        <p>Status: <%= @course.status %></p>
      </div>
    </div>


    <h2>Students</h2>
    <% # @student.each do |s| %>
    <div class="student">
      <h3><%#= s.name %></h3>
      <p><%#= s.register_number %></p>
      <p><%#= s.status%></p>
    </div>
		<% # end %>


  </div>
</div>
