<div class="main">
  <div class="container">
    <div class="course">
      
      
      <div class="class">
        <h3>Student Name : <%= @student.name %></h3>
        <p>Id: <%= @student.id %></p>
        <p>Register Number: <%= @student.register_number %></p>
        <p>Status: <%= @student.status %></p>
      </div>
    </div>


    <h2>Courses</h2>
    <%#  @class.each do |c| %>
    <div class="course">
      <h3><%#= c.name %></h3>
      <p><%#= c.description %></p>
      <p><%#= c.status%></p>
    </div>
		<% # end %>


  </div>
</div>
